/*--------Base Styles------*/

body {
	font-family:"Raleway";	
	background-color:orange;
	margin:0 auto;
}

img {
	margin:0 auto;
	margin-bottom:10px;
	width:100%;
	border-radius: 20px;
	border:3px solid;
}

p {
	padding:10px;
	text-align: center;
	width: 75%;
	margin:0 auto;
}

/*.paragraph {
	margin-bottom: 10px;
}*/

footer {
	text-align: center;
	/*position:absolute;*/
	right: 0;
  	bottom: 0;
  	left: 0;
  	margin-top: 100px;
}

h1 {
	text-align: center;	
} 

h2 {
	text-align: center;
	padding:5px;
}

/*-------Media Queries--------*/

@media all and (min-width: 360px) {
	body {
		margin-bottom:100px;
	}

	html {
		min-height: 100%
	}

	h1,
	h2 {
		font-size:1.5rem;
		font-weight:bold;
	}
}

@media all and (min-width: 640px) {
	p {
		width:70%;
	}

}

@media all and (min-width:968px) {
	p {
	  width:70%;
	}
	
	h1{
	  width:70%;
	  margin:0 auto;	
	}

	footer {
	  margin-bottom: 10px;
	}
}


@media all and (min-width:1200px) {
	p {
	  max-width:50%;
	}
	
	h1 {
	  width:70%;
	  font-size: 2.25rem;
	  margin:0 auto;
	}

	h2 {
	  width:70%;
	  font-size: 2rem;
	  margin:0 auto;	
	}

	img {
	  margin:10px;
	}

	footer {
	  margin-bottom: 10px;
	}	
	
}

	

